<div *hasPermission="[permission.GetAllCertificateApproved]">
  <mat-form-field class="col-md-4">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <div  class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="col-md-12 table-striped table-responsive-md">
    
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.certificateId}} </td>
      </ng-container>

      <ng-container matColumnDef="TraineeName">
          <th mat-header-cell *matHeaderCellDef> Trainee Name </th>
          <td mat-cell *matCellDef="let element ">{{element.traineeFullName}}</td>
      </ng-container>

      <ng-container matColumnDef="Course">
          <th mat-header-cell *matHeaderCellDef> Course </th>
          <td mat-cell *matCellDef="let element ">{{element.courseName}}</td>
      </ng-container>

      <ng-container matColumnDef="ReleaseDate">
          <th mat-header-cell *matHeaderCellDef> Release Date </th>
          <td mat-cell *matCellDef="let element ">{{element.approvedDate | date}}</td>
      </ng-container>

      <ng-container matColumnDef="AdminName">
          <th mat-header-cell *matHeaderCellDef> Admin Name </th>
          <td mat-cell *matCellDef="let element ">{{element.adminName}}</td>
      </ng-container>

        <ng-container matColumnDef="Operations">
          <th mat-header-cell *matHeaderCellDef> Operations </th>
          <td mat-cell *matCellDef="let element">
              <button mat-button class="deleteButton" (click)="confirmDialog(element.certificateId)"><i class="fas fa-trash-alt deleteCertificate"></i></button> 
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
 
</div>

