.courseImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.deleteCourse{
    cursor: pointer;
    color: brown;
}

.editCourse{
    color: green;
    cursor: pointer;
    margin-left: 15px;
}

.deleteButton{
    width: 20px;
}
