.loginInput{
    width: 700px;
}

.ar{
    text-align: right;
}

.card-div{
    left: 11%;
    right: 20%;
    top: 10%;
}

.submit{
    margin-top: 30px;
}

.forgot-pass{
    margin-top: 30px;
    cursor: pointer;
}

.card-title{
    color: black;
    font-size: 30px;
    font-weight: 500;
}