.deleteTestimonail{
    cursor: pointer;
    color: brown;
}

.userImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.save-btn{
    float: right;
    margin-top: 20px;
    font-size: 25px;
}

.deleteTestimonial{
    cursor: pointer;
    color: brown;
}

table td{
    padding: 15px;
}

table th{
    padding: 15px;
}