.testimonailsList{
    width: 100%;
}

.deleteTestimonail{
    cursor: pointer;
    color: brown;
}

.userImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.save-btn{
    float: right;
    margin-top: 20px;
}

.deleteTestimonial{
    cursor: pointer;
    color: brown;
}