.permissionsList{
    margin-left: 70px;
    width: 90%;
}

.deletePermission{
    cursor: pointer;
    color: brown;
}


.editPermission{
    color: green;
    cursor: pointer;
    margin-left: 15px;
}